*{
    margin: 0;
    text-decoration: none;
}
h1{
    font-size: 65px;
    font-weight: 700;
    color: #fff;
}

.btn-primary{
    margin-top: 32px;
    color: #005FAC;
    padding: 20px 24px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
}

/* Styles Header Section */
.header{
    background-image: url(../images/banner/banner3.png);
    background-position: center top;
    background-repeat: no-repeat;
}
.header-content{
    padding: 216px 230px 216px;
    text-align: right;
}
.header-paragraph{
    color: #fff;
    margin-top: 24px;
}
/* Done Header Section */




/* Styles Failures Section */
.my-failures{
    display: flex;
    justify-content: space-around;
    padding: 160px 0px;
    align-items: center;
}
.failure-content{
    align-items: left;
}
.my-failure-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.my-failure-paragraph{
    color: #444343;
    margin-top: 24px;
}
.list-items{
    list-style: none;
    margin-top: 16px;

}
ul, li{
    margin-top: 8px;
}
.fa-regular{
    font-size: 16px;
}
/* Done Failures Section */




/* Styles Plan Section */
.plan{
    text-align: center;
    padding: 140px 0px;
}
.plan-title{
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}
.plan-items h4{
    font-size: 28px;
    font-weight: 700;
}
.plan-items{
    display: flex;
    justify-content: space-around;
    padding: 80px 0px;
    align-items: center;
}
.margin-title{
    margin-top: 24px;
}
.plan-description{
    margin-top: 16px;
}

/* Done Plan Section */




/* Styles Mindset Section */
.mindset{
    display: flex;
    justify-content: space-around;
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 5px;
}
.mindset-content{
    text-align: left;
    background: linear-gradient(to right, #005facc2, rgba(255, 255, 255, 0));
    border-radius: 5px;
    padding: 58px 682px 55px 64px;
}
.mindset-title{
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
}
/* Done Mindset Section */